@font-face {
    font-family: 'Vinque Rg';
    src: url('./fonts/VinqueRg-Regular.woff2') format('woff2'),
        url('./fonts/VinqueRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    background-color: #0a0a23;
    background-image: url("./img/square.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Vinque Rg', 'Times New Roman', Times, serif, sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
  }

  button {
    font-family: 'Vinque Rg', 'Times New Roman', Times, serif, sans-serif;
    cursor: pointer;
    color: #ffe3b9;
    background: #3b2400 url("./img/button-wood.jpg");
    box-shadow:
    0 1px 3px rgb(86,38,6),
    0 5px 7px rgba(0,0,0,0.4),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 0 4px rgba(255,255,255,0.5);
    border: 1px solid #442901;
    margin: 5px 2px;
    padding: 0 5px;
    text-shadow: 2px 1px 0px #533302;
  }

  button:active {
    box-shadow:
    0 0px 0px rgb(86,38,6),
    0 4px 5px rgba(0,0,0,0.4),
    inset 0 1px rgba(0,0,0,0.6),
    inset 0 0 4px rgba(0,0,0,0.5)
  }
  
  #text {
    color: #000000;
    text-shadow: 1px 0px 0px #d2a45e;
    padding: 10px;
}

#game {
    position: relative;
    background: url("./img/game-bg.png") center;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    color: #ffffff;
    margin: auto auto 50px;
    padding: 20px;
  }

  #game::before,
  #game::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 160%;
      top: 50%;
      transform: translateY(-50%);
      background: url("./img/side.png") center no-repeat;
      background-size: contain;
      pointer-events: none;
    }
    
  #game::before {
      left: -60px;
  }

  #game::after {
    right: -60px;
  }

  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }

  #stats span {
    text-shadow: 1px 0px 0px #f8d49d;
  }

  #controls button {
    padding: 4px 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }

  .modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./img/game-bg.png") center;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .modal.active {
    display: block;
  }

  .modal p,
  .modal a {
    color: #000000;
  }

  .modal p {
    margin-bottom: 10px;
  }

  .modal::before,
  .modal::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 160%;
      top: 50%;
      transform: translateY(-50%);
      background: url("./img/side.png") center no-repeat;
      background-size: contain;
      pointer-events: none;
    }
    
  .modal::before {
      left: -60px;
  }

  .modal::after {
    right: -60px;
  }

  /* BUTTONS */

  .round-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: normal;
    padding: 8px;
  }

  .round-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .round-btn img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .open-music-menu {
    z-index: 10;
  }

  .music-controls,
  .open-music-menu {
    font-size: 18px;
  }

  .modal-toggle {
    bottom: 20px;
    right: 20px;
    font-size: 24px;
  }

  .music-controls,
  .open-music-menu {
    position: absolute;
    bottom: 80px;
    right: 20px;
  }

  .music-controls {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
  }

  .music-controls.active {
    z-index: 1;
    pointer-events: all;
    bottom: 120px;
    opacity: 1;
  }

  .music-toggle {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  .music-toggle.active {
    transform: translate(-10px, 0px);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  .plus-volume {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  .plus-volume.active {
    transform: translate(-40px, 28px);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
  
  .minus-volume {
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  .minus-volume.active {
    transform: translate(-30px, 70px);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }

  .pause {
    display: none;
    font-size: 14px;
  }

  .play {
    margin-left: 4px;
  }


  @media screen and (max-width: 1024px) {
    .music-controls,
    .open-music-menu {
      bottom: auto;
      top: 20px;
      right: 80px;
    }

    .music-toggle.active {
      transform: translate(-45px, -10px);
    }

    .plus-volume.active {
      transform: translate(-35px, 35px);
    }

    .minus-volume.active {
      transform: translate(10px, 45px);
    }

    .modal-toggle {
      bottom: auto;
      top: 20px;
      right: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    #game,
    .modal {
      background-size: cover;
     }   

     #game {
      margin: auto auto 10px;
     }
     
     .modal {
      width: 95%;
      top: 100px;
      transform: translate(-50%, 0);
     }
  
     .modal::before,
     .modal::after,
     #game::before,
     #game::after {
      display: none;
     }
  }